@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
:root {
  --lightGreen: #54d252;
  --darkGreen: #2a8128;
  --greenText: #20661f;
  --blackText: #000;
  --white: #fff;
}
html {
  scroll-behavior: smooth;
  background-color: var(--lightGreen);
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
.none {
  display: none;
}

main {
  overflow-x: hidden;
}
/*sections*/
section {
  position: relative;
}
.odd-section {
  padding: 25px 0;
}
.even-section {
  position: relative;
  padding: 100px 0 150px;
  color: var(--blackText);
  z-index: 2;
}
.even-section::after {
  content: "";
  background-image: url(./../img/bg.png);
  background-size: 100% 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
}
.container {
  position: relative;
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 10px;
}
.row {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}

.title {
  margin-bottom: 15px;
  font-size: 42px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--white);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.section-title {
  margin-bottom: 50px;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/*titless and text depending on the section*/
.even-section .section-title {
  color: var(--darkGreen);
}
.odd-section .section-title {
  color: var(--white);
}
.section-text {
  font-size: 16px;
}
.even-section .section-text {
  font-weight: 400;
  color: var(--blackText);
}
.odd-section .section-text {
  font-weight: 500;
  color: var(--greenText);
}

/*CSS ANIMATIONS*/
/*titles animation*/
.anim-item {
  opacity: 0;
}
.item--animation {
  animation: itemAnim 1s forwards;
}
@keyframes itemAnim {
  0% {
    opacity: 0;
    text-shadow: none;
  }
  100% {
    opacity: 1;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}
/*hover animation*/
.underline {
  color: var(--white);
  position: relative;
  cursor: pointer;
  text-decoration: none;
}
.underline::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: -3px;
  width: 0;
  height: 3px;
  background-color: var(--darkGreen);
  transition: width 0.5s;
}
.underline:hover::after {
  width: 100%;
  left: 0;
  background-color: var(--lightGreen);
}
.footer-nav .underline:hover::after {
  background-color: var(--greenText);
}
/*btns animations*/
.scroll-btn {
  padding: 4px 10px;
  width: 140px;
  display: flex;
  align-items: center;
  column-gap: 10px;
  color: var(--white);
  border: 1.5px solid var(--white);
}
.scroll-btn:hover,
.scroll-btn:hover svg path {
  animation: scrollGradientAnim 1s linear forwards;
}
@keyframes scrollGradientAnim {
  0% {
    border-image: linear-gradient(to right, var(--greenText) 0%, var(--white))
      100%;
    border-image-slice: 1;
    background: linear-gradient(to right, var(--greenText) 0%, var(--white))
      100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  100% {
    border-image: linear-gradient(
      to right,
      var(--greenText) 100%,
      var(--white) 0%
    );
    border-image-slice: 1;
    background: linear-gradient(to right, var(--greenText) 100%, var(--white))
      0%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    stroke: var(--greenText);
  }
}
.button {
  cursor: pointer;
  display: block;
  padding: 8px 22px;
  width: 180px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  font-size: 20px;
  font-weight: 500;
  color: var(--white);
  text-align: center;
}
.button::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: var(--darkGreen);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: -2;
}
.button::after {
  content: "";
  width: 0;
  height: 100%;
  background-color: var(--lightGreen);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: width 0.8s;
}
.button:hover::after {
  width: 100%;
}
.button:hover {
  color: var(--white);
}
/*card paw animation*/
.anim-paw {
  width: 0;
  padding: 34px;
}
.paw--animation {
  animation: paw-anim 0.7s linear forwards;
}
@keyframes paw-anim {
  100% {
    width: 34px;
    padding: 0;
  }
}
/*table paw animation*/
.anim-color_paw svg {
  width: 50px;
}
.color-paw--animation path {
  animation: color-paw-anim 1s linear forwards;
}
@keyframes color-paw-anim {
  100% {
    fill: var(--darkGreen);
  }
}
/*ball of threads animation*/
.thread path {
  stroke: none;
}
.thread--animation .thread path {
  stroke: var(--white);
  animation: thread-anim 3s ease-out forwards;
  stroke-dashoffset: 1000;
  stroke-dasharray: 1000;
}
@keyframes thread-anim {
  100% {
    stroke-dashoffset: 0;
  }
}

/*NAV*/
nav {
  position: fixed;
  z-index: 10;
  width: 100%;
  padding: 10px;
  background-color: var(--white);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
}
.footer-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 30px;
}
.logo,
.phone {
  display: flex;
  align-items: center;
  column-gap: 10px;
  color: var(--darkGreen);
  cursor: pointer;
}
.logo:hover,
.phone:hover {
  color: var(--darkGreen);
  opacity: 0.7;
}
.footer-nav .logo {
  font-weight: 500;
  color: var(--greenText);
}
.nav-list {
  display: flex;
  column-gap: 20px;
  align-items: center;
  justify-content: space-between;
}
.logo {
  font-weight: 500;
  font-size: 20px;
}
.logo img {
  width: 20px;
}
.nav-menu {
  display: flex;
  align-items: center;
  column-gap: 44px;
  font-weight: 400;
  font-size: 18px;
}
.nav-menu a {
  color: var(--blackText);
}
.footer-nav .nav-menu a {
  color: var(--greenText);
  font-weight: 500;
}
.phone {
  font-weight: 400;
  font-size: 16px;
}
.phone img {
  width: 20px;
}

/*HEADER*/
header {
  position: relative;
  height: 105vh;
}
.header-content {
  padding: 50px 0 0 0;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}
.header-text {
  width: 50%;
}
.header-caption {
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 16px;
  color: var(--greenText);
}

/*PAWS ANIMATION*/
.paws img {
  display: none;
  position: absolute;
}
.paws img:nth-child(1) {
  top: 3%;
  left: 50%;
}
.paws img:nth-child(2) {
  top: 8%;
  left: 58%;
}
.paws img:nth-child(3) {
  top: 17%;
  left: 53%;
}
.paws img:nth-child(4) {
  top: 24%;
  left: 60%;
}
.paws img:nth-child(5) {
  top: 35%;
  left: 55%;
  transform: rotate(15deg);
}
.paws img:nth-child(6) {
  top: 42%;
  left: 62%;
  transform: rotate(20deg);
}
.paws img:nth-child(7) {
  top: 50%;
  left: 55%;
  transform: rotate(30deg);
}
.paws img:nth-child(8) {
  top: 61%;
  left: 60%;
  transform: rotate(40deg);
}
.paws img:nth-child(9) {
  top: 65%;
  left: 52%;
  transform: rotate(50deg);
}
.paws img:nth-child(10) {
  top: 77%;
  left: 55%;
  transform: rotate(50deg);
}
.paws img:nth-child(11) {
  top: 82%;
  left: 48%;
  transform: rotate(55deg);
}
.paws img:nth-child(12) {
  top: 95%;
  left: 51%;
  transform: rotate(55deg);
}
.paws img:nth-child(13) {
  top: 97%;
  left: 43%;
  transform: rotate(55deg);
}
.header-img img {
  height: 550px;
}
.header-img {
  margin-right: 50px;
  position: relative;
}
.header-img::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 113px;
  bottom: -2%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 80%;
  opacity: 0.4;
  filter: blur(5px);
  background-color: var(--darkGreen);

  z-index: -1;
}

/*SECTIONS*/
/*first section*/
.first-section_content {
  max-width: 1185px;
  margin: 0 auto;
}
.card-row {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.card {
  position: relative;
  border-radius: 10px;
}
.card::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 10px 0 0 0;
  border: 40px solid transparent;
  border-left: 40px solid var(--darkGreen);
  border-top: 40px solid var(--darkGreen);
  z-index: 1;
}
.card-paw {
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 2;
}
/*second section*/
.title-left {
  text-align: left;
}
.second-section_img {
  width: 35%;
  height: inherit;
  position: relative;
}
.second-section_img img {
  border-radius: 10px;
  height: 100%;
  object-fit: cover;
}
.second-section_content {
  width: 65%;
  overflow: hidden;
}
.ball-of-thread {
  padding: 50px 0;
  position: relative;
  width: 100%;
}
.thread {
  position: absolute;
  left: 35.79px;
  bottom: 50px;
}
/*third section*/
.third-section_content {
  width: 50%;
}
.third-section_content .section-text {
  margin-bottom: 30px;
}
.table {
  border: 2px solid var(--lightGreen);
  border-radius: 10px;
  width: 50%;
}
.table_row {
  padding: 30px;
  display: flex;
  align-items: center;
  column-gap: 40px;
}
.table_row p {
  width: 90%;
}
.table_row:not(:last-child) {
  border-bottom: 2px solid var(--lightGreen);
}
/*fourth section*/
.fourth-section_content {
  max-width: 30%;
}
.forth-section_info {
  margin-bottom: 80px;
}
.info-title {
  position: relative;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 700;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: var(--white);
}
.info-title::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--white);
}
.fourth-section_img {
  z-index: -1;
  position: absolute;
  width: 540px;
  left: 58%;
  bottom: -200px;
  transform: translate(-50%);
}

.shadow {
  position: absolute;
  width: 70%;
  height: 113px;
  top: 55%;
  left: 40%;
  transform: translateX(-50%);
  border-radius: 80%;
  opacity: 0.4;
  filter: blur(5px);
  background-color: var(--darkGreen);
  z-index: -1;
}
/*fifth section*/
.section-form {
  width: 50%;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.form-row {
  display: flex;
  align-items: center;
  column-gap: 20px;
}
.form-row input {
  width: 50%;
  border-bottom: 2px solid var(--lightGreen);
}
.section-form textarea {
  resize: none;
  height: 100px;
  width: 100%;
  border-bottom: 2px solid var(--lightGreen);
}
.fifth-section_content {
  width: 50%;
}
.socials-row {
  margin-top: 30px;
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.socials-row a:hover {
  opacity: 0.7;
}
.section-form textarea::placeholder,
.form-row input::placeholder {
  color: var(--greenText);
}
.section-form textarea,
.form-row input {
  color: var(--greenText);
}

/*FOOTER*/
.footer {
  padding: 25px 0;
  background-color: var(--lightGreen);
}
.footer-contacts {
  margin-top: 30px;
}
.footer-contacts a {
  color: var(--greenText);
}
.footer-contacts .socials-row {
  margin-top: 15px;
}
.footer-contacts .socials-row img {
  height: 30px;
  width: 30px;
}
.address {
  cursor: pointer;
  display: flex;
  column-gap: 10px;
  align-items: center;
}
.address:hover {
  opacity: 0.7;
}
.footer-contacts .phone:not(:first-child) {
  margin-top: 15px;
}
